.footer {
  background-color: $color-primary-light;
  color: $color-primary;
  position: absolute;
  width: 100%;
  bottom: 0;

  &__text {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }
}